/* MMM-Ruter */

table.ruter { width: 100%; border: 1px;}

.ruter .line {
	padding-right: 5px;
}

.ruter .title {
  padding-left: 0;
  padding-right: 0;
}

.ruter .time {
  padding-left: 30px;
  text-align: right;
}
